.tableTopBorder() {
  border-top: 1px solid @DataGridBorderColor;
}

.row() {
  .flexRow();
  .tableTopBorder();
  flex: 1;
}

.cell {
  .flexRow();
  flex-grow: 0;
  flex-shrink: 0;
}

.checkBox() {
  flex: 0 0 30px;
  .flexCenter();
}

.data-grid {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border: 1px solid @DataGridBorderColor;
  .data-grid-row {
    .row();
  }
  .data-grid-cell {
    .cell();
  }

  .data-grid-header {
    .flexRow();
    .tableTopBorder();
    flex-grow: 0;
    flex-shrink: 0;
    height: 30px;
    font-weight: 700;
    .data-grid-cell {
      .data-grid-cell-data {
        .flexCenter();
        flex: 1;
      }
      &.data-grid-checkbox {
        .checkBox();
        .data-grid-cell-data {
          padding: 5px;
        }
      }
    }
  }

  .data-grid-body {
    .data-grid-row {
      .data-grid-cell {
        &.data-grid-checkbox {
          .checkBox();
        }
        .data-grid-cell-data {
          .flex();
          flex: 1;
          padding: 5px;
        }
      }
    }
    .data-grid-body-row-striped {
      background-color: @DataGridRowStriped;
    }
    .highlight {
      background-color: @DataGridHighlightColor;
    }
  }

  .data-grid-label {
    width: 1px;
    height: 100%;
    background-color: @DataGridBorderColor;
    margin: 0 2px;
    &.move {
      cursor: col-resize;
    }
  }
  .data-grid-footer {
    .pagination {

    }
  }
}
